<div class="landing-container">
  <header class="header">
    <h1 class="title">Witaj w PRz IncDesk</h1>
    <p class="subtitle">Zarządzaj zdarzeniami IT i zgłoszeniami</p>
    <button mat-raised-button color="primary" class="cta-button" [routerLink]="['/register-ticket']">Zgłoś problem</button>
  </header>

   <section class="features">
    <div class="feature">
      <h2>Wyślij zgłoszenie</h2>
      <p>Łatwo zgłoś problemy</p>
    </div>
    <div class="feature">
      <h2>Śledź zdarzenia</h2>
      <p>Monitoruj wszystkie trwające zdarzenia</p>
    </div>
    <div class="feature">
      <h2>Bezpieczne</h2>
      <p>Wszystkie dane i komunikacja są chronione</p>
    </div>
  </section>
</div>