@use '@angular/material' as mat;

@include mat.core();
$angular-sandbox-primary: mat.define-palette(mat.$indigo-palette);
$angular-sandbox-accent: mat.define-palette(mat.$pink-palette, A200, A100, A400);

$angular-sandbox-warn: mat.define-palette(mat.$red-palette);

$angular-sandbox-theme: mat.define-light-theme((
  color: (
    primary: $angular-sandbox-primary,
    accent: $angular-sandbox-accent,
    warn: $angular-sandbox-warn,
  ),
  typography: mat.define-typography-config(),
  density: 0
));


@include mat.all-component-themes($angular-sandbox-theme);


html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.success-snackbar {
    --mdc-snackbar-container-color: #4caf50;
    --mdc-snackbar-supporting-text-color: white;
    --mat-snack-bar-button-color: white;
}

.error-snackbar {
    --mdc-snackbar-container-color: #f44336;
    --mdc-snackbar-supporting-text-color: white;
    --mat-snack-bar-button-color: white;
}


.success-snackbar {
    --mdc-snackbar-container-color: #4caf50;
    --mdc-snackbar-supporting-text-color: white;
    --mat-snack-bar-button-color: white;
}

.error-snackbar {
    --mdc-snackbar-container-color: #f44336;
    --mdc-snackbar-supporting-text-color: white;
    --mat-snack-bar-button-color: white;
}

