.loading-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.no-data {
    text-align: center;
    color: #888;
    margin-top: 20px;
}

mat-dialog-content {
    min-width: 400px;
    min-height: 300px;
    max-height: 60vh;
    padding: 0 !important;
}

mat-list {
    padding-top: 0;
}

mat-list-item {
    border-bottom: 1px solid #f0f0f0;
    transition: background-color 0.2s;
    
    &:hover {
        background-color: #f5f5f5;
    }

    &:last-child {
        border-bottom: none;
    }

    .mat-icon {
        color: #757575;
    }
    .delete-btn {
        margin-left: 8px;
        
        background: transparent !important;
        
        &:hover {
            background: transparent !important;
        }

        ::ng-deep .mat-ripple-element {
            display: none !important;
        }
        
        mat-icon {
            color: #757575; 
            transition: color 0.2s;
        }

        &:hover mat-icon {
            color: #d32f2f;
        }
    }
}

